.SidebarToggleButton {
  display: inline;
  position: fixed;
  top: 25px;
  left: 25px;
  cursor: pointer;
  z-index: 200;
  transition: opacity, left 0.3s ease-in;
  background: transparent;
  border: hidden;
  outline: none;

  &:hover {
    opacity: 0.7;
  }
}



// .SidebarToggleButton.open {
//   left: 300px;
// }