  $font-color: #495057;
  $heading-color: #343a40;
  $dark-font-color: #1b1d25;
  $medium-font-color: #60656c;
  $light-font-color: #787f87;
  $light-background: #f6f8fb;
  $lighter-background: #e6e8eb;
  $border: #d6d9de;
  $button-background: #5f5fad;
  $button-color: #d4d8f3;
  $link-color: #5f5fad;
  $accent-color: #fadb6b;
  $light-accent-color: #fcebb0;
  $code-font-family: "Roboto Mono",
  Courier New,
  monospace;