$color-light-gray: #ecf0f1;
$color-medium-gray: #bdc3c7;
$color-dark-gray: #34495e;
$color-light-green: #2ecc71;
$color-medium-green: #20864b;

$cube-size: 150px;
$animation-duration: 10s;

.wrapper {
  width: 100%;
  height: 340px;
  perspective: 900px;
}

.cube {
  position: relative;
  top: 70px;
  margin: 1rem auto;
  width: $cube-size;
  height: $cube-size;
  transform-style: preserve-3d;
  animation: rotate $animation-duration linear infinite;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateY($cube-size/2) translateZ(-$cube-size/2);
    background-color: rgba(0, 0, 0, 0.1);
  }

  div {
    position: absolute;
    // background-color: rgba($color-light-green, 0.7);
    position: absolute;
    width: 150px;
    height: 150px;
    // box-shadow: 0 0 60px rgba($color-light-green, 0.7);
    text-align: center;
    line-height: 150px;

    p {
      width: 100%;
      // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
      //   0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
      color: #ffffff;
      font-weight: bold;
      font-size: 2rem;
    }

    // Back face
    &:nth-child(1) {
      transform: translateZ(-$cube-size/2) rotateY(180deg);
      animation: shade #{$animation-duration} #{-$animation-duration/2} linear infinite;
    }

    // Front face
    &:nth-child(2) {
      transform: translateZ($cube-size/2) rotateY(360deg);
      animation: shade $animation-duration linear infinite;
    }

    // Right face
    &:nth-child(3) {
      transform-origin: right;
      transform: translateZ(-75px) rotateY(90deg);
      animation: shade #{$animation-duration} #{-$animation-duration/4} linear infinite;
    }

    // Left face
    &:nth-child(4) {
      transform-origin: left;
      transform: translateZ(-75px) rotateY(-90deg);
      animation: shade #{$animation-duration} #{- ($animation-duration * 3)/4} linear infinite;
    }

    // Bottom face
    &:nth-child(5) {
      transform-origin: bottom;
      transform: translateZ($cube-size/2) rotateX(90deg);
      background-color: rgba(black, 0.7);
    }

    // Top face
    &:nth-child(6) {
      transform-origin: top;
      transform: translateZ($cube-size/2) rotateX(270deg);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(-15deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-15deg) rotateY(360deg);
  }
}

@keyframes shade {
  50% {
    background-color: rgba(black, 0.7);
  }
}