.sidebar-sub-list-item {
	padding: .2rem 0;
	transition: all .22s ease-in-out;
	cursor: pointer;
	border-radius: 3px;

	&:hover {
		background: #d4d8f3;
	}

	a {
		display: block;
		color: #495057;
		font-size: 1.05rem;
		font-weight: 400;
		padding: 0 0.5rem;
	}
}

.active {
	color: #5f5fad;
	font-weight: bold;
}